<%- include('../../includes/head'); %>
    <link rel="stylesheet" href="/css/navBarCss.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/userSetting.css">
    

    </head>

    <body>
        <%- include('../../includes/nav-bar'); %>
        <%- include('./includes/user-navbar'); %>   

        <%- include('./includes/user-products'); %> 


    </body>

    </html>