<%- include('../includes/head');  %>
<link rel="stylesheet" href="/css/login.css">

</head>
<body>
<%- include('../includes/nav-bar');  %>
<main>
<div class="container">
    <% if(error){ %>
        <h4 class="error-message"><%= error %></h4>
    <%  } %>
  <h2>Forget Password</h2>
  <form action="/forget-password" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="submit" value="Send reset link">
  </form>
</div>
</main>

</body>
</html>

</body>