<%- include('../includes/head');  %>
<link rel="stylesheet" href="/css/navBarCss.css">
<link rel="stylesheet" href="/css/verified.css">

</head>
<body>
<%- include('../includes/nav-bar');  %>
<main>
    <div class="container">
        <h1>Email Verified</h1>
        <p>Your email address has been successfully verified. You can now login to your account.</p>
        <a class="btn" href="/login">Login</a>
      </div>
</main>

</body>
</html>

</body>