body {
  background-image: url('https://img-s1.onedio.com/id-5406e18bc62a80e52af57780/rev-0/raw/s-2075e5a29881f19f4183ac2ecf70e5d5ccba7b14.jpg');
  background-size: cover;
  background-position: center top; 
  background-repeat: no-repeat; 
  z-index: 1; 
  animation: fadeIn 0.5s ease-in-out; 
}

.container {
  max-width: 400px;
  margin: 20px auto; 
  margin-left: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideInFromRight 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: #fff;
  padding: 15px;
  font-size: 120%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
  border-radius: 5px;
  padding: 15px;
}

.text-center {
  padding-top: 20px;
  text-align: center;
}

.text-center a {
  color: black;
}