* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #081b29;
  color: #ededed;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 20px;
}

.logo-grid img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo-grid img:hover {
  transform: scale(1.1);
}

.info-section {
  margin: 20px;
  padding: 10px;
}

.info-section h4 {
  color: #00abf0;
  margin-bottom: 10px;
}

.info-section ul {
  list-style: none;
}

.info-section li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #00abf0;
}

a:hover {
  color: #ededed;
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url('../images/car1.jpg') center / cover no-repeat;
  padding: 0 10%;
}

.footer {
  background-color: #081b29;
  color: #ededed;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.footer-section h4 {
  color: #00abf0;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 5px;
  color: #ededed;
}

.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  color: #00abf0;
  font-size: 24px;
}

.social-icon:hover {
  color: #ededed;
  transition: color 0.3s ease;
}
