<%- include('../../includes/head'); %>
  <link rel="stylesheet" href="/css/navBarCss.css">
  <link rel="stylesheet" href="/css/product.css">

  </head>

  <body>
    <%- include('../../includes/nav-bar'); %>
      <h1></h1>

      <div class="container">
        <h2>Add Product Page</h2>
        <div class="product-list">
          <div class="product">

            <a href="/add-product/car"><img src="images/addpcar.jpg" alt="Black Car Paper" class="addpcar-images"></a>
            <h3>Car Product Page</h3>
          </div>
          <div class="product">
            <a href="add-product/motorcycle"> <img src="images/addpbike-main.jpg" alt="Black motorcycle"
                class="addpbike-images"></a>
            <h3>MotorCycle Product Page</h3>
          </div>

        </div>
      </div>


  </body>

  </html>