<%- include('../../includes/head')  %>
<link rel="stylesheet" href="/css/add-product.css">
<link rel="stylesheet" href="/css/navBarCss.css">
</head>
<body>
    <%- include('../../includes/nav-bar')  %> 
    <%- include('./includes/add-product-form')  %> 
    
    
</body>
</html>
