<%- include('../includes/head');  %>
<link rel="stylesheet" href="/css/navBarCss.css">
<style>
    .center{
        text-align: center;
        margin-top: 100px;
    }
</style>

</head>
<body>
    <%- include('../includes/nav-bar');  %>
    <h1 class="center">Sorry We can't find this link</h1>
    <h2 class="center">Error pageeeeeeeeeeeeeeeee</h2>

</body>