<%- include('../includes/head'); %>

    <link rel="stylesheet" href="css/mainPage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .content {
            height: 1000px;
            width: auto;
            background-color: #2f4f4f;
        }

        .about {
            display: flex;
            /* Flexbox'u etkinleştir */
            justify-content: center;
            /* Yatayda ortala */
            align-items: center;
            /* Dikeyde ortala */
            height: 500px;
            width: auto;
            background-color: #f9f9f9;
        }

        .content img {
            float: left;
            margin: 12px;
            height: 100px;
            width: 110px;
            background-size: cover;
            transition: transform 0.5s ease;
        }

        .content img:hover {
            transform: scale(1.2);
        }

        .about div {
            height: 200px;
            width: 150px;
            background-color: transparent;
            margin: 10px;


        }

        .about div h4 {
            color: black;
        }

        .about div h7 {
            padding: 2px;
            color: gray;
            margin-bottom: 20px;
            padding-bottom: 20px;

        }

        br {
            height: 20px;
        }

        .home-sci {
            position: absolute;
            top: 2000px;
            left: 50%;
            transform: translateX(-50%);
            width: auto;
        }

        .home-sci a {
            position: relative;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background: transparent;
            border: 2px solid #00abf0;
            border-radius: 50%;
            font-size: 20px;
            color: #00abf0;
            text-decoration: none;
            z-index: 1;
            overflow: hidden;
            margin: 0 10px;
            /* İkonlar arasındaki boşluğu ayarlar */
            transition: .5s;
           
        }

        .home-sci a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #00abf0;
            z-index: -1;
            transition: .5s;
        }

        .home-sci a:hover::before {
            width: 100%;
        }

        /* İkonlara ek bir animasyon efekti ekleyebilirsiniz */
        .home-sci a:hover {
            transform: scale(1.2);
            /* İkonun büyümesini sağlar */
            color: white;
        }
    </style>
    </head>

    <body>
        <%- include('../includes/nav-bar'); %>
            <section class="home">

            </section>
            <section class="content">
                <img src="images/img1.png" alt="">
                <img src="images/img2.png" alt="">
                <img src="images/img3.png" alt="">
                <img src="images/img4.png" alt="">
                <img src="images/img5.png" alt="">
                <img src="images/img6.png" alt="">
                <img src="images/img7.png" alt="">
                <img src="images/img8.png" alt="">
                <img src="images/img9.png" alt="">
                <img src="images/img10.png" alt="">
                <img src="images/img11.png" alt="">
                <img src="images/img12.png" alt="">
                <img src="images/img13.png" alt="">
                <img src="images/img14.png" alt="">
                <img src="images/img15.png" alt="">
                <img src="images/img16.png" alt="">
                <img src="images/img17.png" alt="">
                <img src="images/img18.png" alt="">
            </section>
            <section class="about">
                <div>
                    <h4>Kurumsal</h4>
                    <br>
                    <h7>Hakkımızda</h7>
                    <br>
                    <h7>Sürdürülebilirlik</h7>
                    <br>
                    <h7>İnsan Kaynakları</h7>
                    <br>
                    <h7>Haberler</h7>

                </div>
                <div>
                    <h4>Hizmetlerimiz</h4>
                    <br>
                    <h7>Doping</h7>
                    <br>
                    <h7>Renklam</h7>
                    <br>
                    <h7>Mobil</h7>
                    <br>
                    <h7>Oto Expo</h7>
                </div>
                <div>
                    <h4>İletişim</h4>
                    <br>
                    <h7>Telefon</h7>
                    <br>
                    <h7>Mail</h7>
                    <br>
                    <h7>Sosyal Medya</h7>
                    <br>
                    <h7>Google</h7>
                </div>
                <div>
                    <h4>Gizlilik ve Kullanım</h4>
                    <br>
                    <h7>Hesap Sözleşmesi</h7>
                    <br>
                    <h7>Çerez Yönetimi</h7>
                    <br>
                    <h7>İnsan Kaynakları</h7>
                    <br>
                    <h7>Haberler</h7>
                    <div class="home-sci">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-linkedin'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                    </div>
                </div>


            </section>
    </body>

    </html>
