<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.0.7/css/boxicons.min.css">
</head>
<body>
    <section class="home">
        <% if(!isAuthenticated){ %>
        <div class="btn-box">
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        </div>
        <% } %>
        <% if(!isAdminAuthenticated) { %>
            <div class="btn-box">
                <a href="/login">Login</a>
                <a href="/signup">Sign up</a>
            </div>
            <% } %>
    </section>
    
  
    <section class="content">
        <div class="card">
            <div class="first-content">
              <span>Welcome to <br> Oto Expo <br> Car Selling Website</span>
            </div>
            <div class="second-content">
          <span>Innovation, <br>Comfort and Safety,<br> Unite at Oto Expo</span>
            </div>
            </div>
        <div class="logo-grid">
            <img src="images/img1.png" alt="Logo 1">
            <img src="images/img2.png" alt="Logo 2">
            <img src="images/pngwing.com.png" alt="Logo 3">
            <img src="images/img4.png" alt="Logo 4">
            <img src="images/img5.png" alt="Logo 5">
            <img src="images/img6.png" alt="Logo 6">
            <img src="images/img7.png" alt="Logo 7">
            <img src="images/img8.png" alt="Logo 8">
            <img src="images/maserati.png" alt="Logo 9">
            <img src="images/img10.png" alt="Logo 10">
            <img src="images/img11.png" alt="Logo 11">
            <img src="images/img12.png" alt="Logo 12">
            <img src="images/img13.png" alt="Logo 13">
            <img src="images/img14.png" alt="Logo 14">
            <img src="images/img15.png" alt="Logo 15">
            <img src="images/img16.png" alt="Logo 16">
            <img src="images/img17.png" alt="Logo 17">
            <img src="images/img18.png" alt="Logo 18">
        </div>
    </section>
    <section class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Kurumsal</h4>
                <ul>
                    <li>Hakkımızda</li>
                    <li>Sürdürülebilirlik</li>
                    <li>İnsan Kaynakları</li>
                    <li>Haberler</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Hizmetlerimiz</h4>
                <ul>
                    <li>Doping</li>
                    <li>Renklam</li>
                    <li>Mobil</li>
                    <li>Oto Expo</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>İletişim</h4>
                <ul>
                    <li>Telefon</li>
                    <li>Mail</li>
                    <li>Sosyal Medya</li>
                    <li>Google</li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Gizlilik ve Kullanım</h4>
                <ul>
                    <li>Hesap Sözleşmesi</li>
                    <li>Çerez Yönetimi</li>
                    <li>İnsan Kaynakları</li>
                    <li>Haberler</li>
                </ul>
            </div>
            <div class="footer-socials">
                <a href="#" class="social-icon"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="social-icon"><i class='bx bxl-twitter'></i></a>
                <a href="#" class="social-icon"><i class='bx bxl-instagram'></i></a>
            </div>
        </div>
    </section>
</body>
</html>