<div class="container-left-navbar">
    <nav class="navbar-left">
        <ul>
            <li><a class="navbar-left-a <%= path==='user/account' ? 'active': '' %>"
                    href="/admin/<%= admin.id %>/account">Account</a></li>
            <li><a class="navbar-left-a" href="/admin/all-cars">All Cars</a></li>
            <li><a class="navbar-left-a" href="/admin/all-motorcycles">All Motorcycles</a></li>
            <li><a class="navbar-left-a" href="/admin/mails">Mails</a></li>
        </ul>
    </nav>
    