<%- include('../../includes/head'); %>
<link rel="stylesheet" href="/css/navBarCss.css">
<link rel="stylesheet" href="/css/mycars.css?v=2"> <!-- Append the version query to bypass cache -->
<link rel="stylesheet" href="/css/userSetting.css">

</head>

<body>
    <%- include('../../includes/nav-bar'); %>
    <%- include('./includes/user-navbar'); %>
    <%- include('./includes/user-products', {name: 'cars'}); %> <!-- Passed 'cars' to the name variable -->                 
</body>

</html>
